.founders__first {
  max-width: 919px;
  width: 100%;
  border-right: 1px solid #646464;
  border-bottom: 1px solid #646464;
  border-top: 1px solid #646464;
  height: 166px;
  box-sizing: border-box;
}

.founders__first:nth-of-type(2) {
  border-right: none;
}
