.founders__name {
  margin: 0;
  padding: 0;
  color: white;
  padding-top: 100px;
  font-family: "Druk Wide Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.15em;
  padding-left: 40px;
}
