.intro {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 500;
  color: white;
  display: grid;
  grid-template-columns: calc(166 * 100% / 1838) calc(945 * 100% / 1838) calc(
      727 * 100% / 1838
    );
  grid-template-rows: repeat(3, auto);
  padding-top: 73px;
}
