.header__dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}
