.founders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1920px) {
  .founders {
    max-width: calc(1838 * 100% / 1920);
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .founders {
    grid-template-columns: 1fr;
  }
}
