.founders__depp {
  background-image: url("../../../images/depp_dark.png");
  max-width: 919px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.80550098;
  background-repeat: no-repeat;
  background-size: center;
  background-position: center;
  object-fit: contain;
  transition: all 0.3s ease-in;
  position: relative;
}

.founders__depp:hover .founders__flying-tube {
  animation: move3 1s linear infinite;
}
